@use "src/scss/fonts";
@use "src/scss/classes";
@use "src/scss/general";

h1 {
  font-size: 4rem;
}

p {
  width: 50%;
  margin: 2rem 0;
}

section {
  height: 100vh;
}

.container {
  padding: 5rem;
}

.sticky_parent {
  height: 500vh;
}

.sticky {
  position: sticky;
  overflow: hidden;
  top: 0;
  height: 100vh;
}

.scroll_section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 500vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

img {
  width: 800px;
  height: 80%;
  object-fit: cover;
  object-position: center;
}
