.debug {
  outline: 1px solid red;
}

.flex {
  display: flex;
}

.fs-c {
  justify-content: flex-start;
  align-items: center;
}

.sb-fe {
  justify-content: space-between;
  align-items: flex-end;
}

.sb-s {
  justify-content: space-between;
  align-items: stretch;
}

.sb-c {
  justify-content: space-between;
  align-items: center;
}

.c-c {
  justify-content: center;
  align-items: center;
}

.is-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.is-parent {
  position: relative;
}

.is-hidden {
  display: none;
}

.no-select {
  user-select: none;
}
.no-scroll-x {
  overflow-x: hidden;
}

.no-scroll-y {
  overflow-y: hidden;
}
