@use "src/scss/fonts";
@use "src/scss/classes";
@use "src/scss/general";

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35vh;
  font-weight: 500;
  margin-bottom: 1rem;
  opacity: 0.5;
  color: rgba(255, 252, 196, 0.71);
  filter: blur(0.5rem);
}

.sparkle-button:has(button:disabled) {
  opacity: 0.5;
  pointer-events: none;
}

.dom-gl {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  user-select: none;
  cursor: grab;
  z-index: 2;

  &__inner {
    display: flex;
    position: relative;
  }
}

.slide {
  overflow: hidden;

  &:first-child {
    position: relative;
  }

  &:not(:first-child) {
    position: absolute;
    top: 0;
    height: 100%;
  }

  &__inner {
    position: relative;
    overflow: hidden;
    width: 55vw;
    padding-top: 56.5%;
  }

  img {
    display: none;

    height: 100%;
    width: 140%;
    position: absolute;
    top: 0;
    left: -20%;
    object-fit: cover;
    will-change: transform;
  }

  img:not(:first-child) {
    opacity: 0;
  }
}

.titles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  pointer-events: none;
  z-index: 3;

  &__list {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    font-weight: bold;
    letter-spacing: -0.1vw;
    color: #fff;

    &--proxy {
      visibility: hidden;
    }
  }
}

.progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  overflow: hidden;
  pointer-events: none;

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #fff;

    &:nth-child(2) {
      transform-origin: right;
    }
  }
}

.slide {
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
  }
}

// ######################################################################
a {
  position: absolute;
  left: 50%;
  bottom: 5%;
  translate: -50% 0;
  font-size: 2rem;
  padding: 2rem 4rem;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out, scale 0.5s ease-in-out;
  background-color: #3a86ff;
  border-radius: 1vw;
}

.disabled {
  opacity: 0.375;
  pointer-events: none;
  backdrop-filter: blur(0.5rem);
  scale: 0.875;
  transition: scale 0.25s ease-in-out;
}

a::after {
  content: " " attr(data-suffix);
}

@media only screen and (max-width: 1919px) {
  body::after {
    content: "Please choose a screen width larger than 1920px";
    position: absolute;
    bottom: 50%;
    left: 50%;

    background-color: rgba(255, 252, 196, 0.06);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 100%;
    font-weight: bold;
    color: #fffcc4;

    font-family: "Inter", monospace;

    transform: translate(-50%, 50%);
  }

  #app {
    display: none;
    pointer-events: none;
  }

  canvas {
    display: none;
    pointer-events: none;
  }
}
